.login_wrapper {
    display: flex;
    height: 100vh;
}

.login_left {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_left img {
    width: 100%;
    /* This will make the image take up 100% of the width of its parent */
    height: 100%;
    /* This will make the image take up 100% of the height of its parent */
    object-fit: contain;
    /* Change to 'cover' if you want the image to cover the entire container */
}

.login_right {
    flex: 4;
    /* width: 40%; */
    min-width: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* added this line */
}

.login_logo {
    position: absolute;
    /* Position it absolutely within the relative parent */
    top: 10px;
    /* Align it to the top of the parent */
    right: 0px;
    /* Align it to the right of the parent */
}

.login_author {
    position: absolute;
    bottom: 10px;
    /* Provide some space from the bottom */
    left: 10px;
    /* Provide some space from the right */
}


.login_box {
    transform: translateY(-50px);
    /* Adjust this value as needed */
}

.login_box_input {
    width: 400px;
    height: 50px;
}

.login_box [class*=ant-select] {
    text-align: left;
}

.login_box img {
    transform: translateX(10%);
}

.hello_text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Fallback fonts */
    font-weight: bold;
    font-size: 32px;
    /* Adjust size as needed */
    letter-spacing: 1.2px;
    color: #333;
    /* Dark gray */
    margin-bottom: 20px;
    /* Spacing below the text */
    text-align: center;
    /* Center the text */
}


/* Styling for the NavLink tags */
.login_box .navlink {
    display: block;
    /* Make the NavLink display as a block element to occupy the full width */
    text-align: center;
    /* Center the text */
    font-size: 16px;
    /* Adjust the font size */
    font-weight: bold;
    /* Make the font bold */
    color: grey;
    /* Set the font color */
    margin-bottom: 10px;
    /* Add some space below each NavLink */
    text-decoration: none;
    /* Remove the default underline */
}

/* Styling for the NavLink tags on hover */
.login_box .navlink:hover {
    color: #0056b3;
    /* Change the font color on hover */
    text-decoration: underline;
    /* Add an underline on hover */
}

.error_message {
    width: 100%;
    min-height: 20%;
}

.ql-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner_block {
    width: 100%;
    /* Take up the full width of the parent */
    height: 100%;
    /* Take up the full height of the parent */
    overflow: hidden;
    /* Hide any overflowing content */
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
}