.login_wrapper {
    height: 100vh; /* Changed to viewport height */
    display: flex;
    justify-content: space-between;
}

.login_left {
    flex: 1 0 60%;
    margin: 20px; /* Changed padding to margin */
    background-color: aqua;
    box-sizing: border-box; /* Added box-sizing */
    position: relative;
}

.login_right {
    flex: 1 0 40%;
    margin: 20px; /* Changed padding to margin */
    background-color: white;
    box-sizing: border-box; /* Added box-sizing */
    position: relative;
}

.login_logo {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login_box {
    position: absolute;
    top: 25%;
    right: calc((10% - 400px) / 2);
    width: 38rem;
    text-align: center;
    transform: translate(-50%);
    padding-bottom: 4rem;
}

.login_box_input {
    width: 400px;
    height: 50px;
}

.login_box [class*=ant-select] {
    text-align: left;
}

.login_box img {
    transform: translateX(10%);
}

.error_message {
    width: 100%;
    min-height: 20%;
}

.ql-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner_block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.inner_block > * {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
