.page_container {
    height: 100%;
    position: relative;
    overflow: auto;
    display: grid;
    justify-content: space-between;
    grid-template-areas: "LEFT RIGHT";
    grid-template-columns: 39% 59%;
}

.profile_left {
    flex: 1 0 39%;
    grid-area: LEFT;
    padding: 20px;
    background-color: white;
}

.profile_summary_wrapper {
    text-align: center;
    border: 3px solid white;
}

.profile_summary_profile {
    text-align: center;
}

.profile_summary_statistics {
    text-align: center;
}

.profile_summary_statistics_value {
    font-weight: bold;
    font-size: 32px;
}

.profile_summary_statistics_tag {
    font-size: 16px;
    font-family: monospace;
}

.profile_summary_description {
    font-size: 16px;
    font-family: "Brush Script MT";
}

.profile_right {
    flex: 1 0 59%;
    grid-area: RIGHT;
    padding: 20px;
    background-color: white;
}

.profile_edit_submit {
    float: right;
}

.profile_edit_normal_title {
    font-size: 15px;
}

.profile_edit_special_title {
    font-size: 25px;
    font-weight: bold;
}
